[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{ lookup('aws_ssm', 'payment.{{env}}.cart_url', region='us-east-1' ) }}
Environment=CART_PORT={{ lookup('aws_ssm', 'payment.{{env}}.cart_port', region='us-east-1' ) }}
Environment=USER_HOST={{ lookup('aws_ssm', 'payment.{{env}}.user_url', region='us-east-1' ) }}
Environment=USER_PORT={{ lookup('aws_ssm', 'payment.{{env}}.user_port', region='us-east-1' ) }}
Environment=AMQP_HOST={{ lookup('aws_ssm', 'payment.{{env}}.rabitmq_url', region='us-east-1' ) }}
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{ lookup('aws_ssm', 'payment.{{ env }}_pass', region='us-east-1' ) }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
